img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
h2{
    text-align: center;
}
h5{
    text-align: center;
    text-size-adjust: bold;
}
body{
    font-family: 'Rubik', sans-serif; ;
}
